@font-face {
    font-family: 'headerfont'; /*a name to be used later*/
    src: url('headerfont.otf'); /*URL to font*/
}

body {
  background-color: #1f1e1d;
}

.mainheader h2 {
  color: white;
  font-family: 'headerfont';
  font-size: 500%;
  position: relative;
  left: 35%;
}
a {
  position: relative;    /* Ensure the anchor can be moved */
  left: 45%;             /* Move the anchor 10% to the right */
  color: orange;         /* Change the text color to orange */
  text-decoration: none; /* Remove the underline */
  font-size: 150%;       /* Set the font size to 10px */
}
